/* stylelint-disable font-family-no-missing-generic-family-keyword */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background: rgb(229, 229, 229);
  font-family: 'Poppins';
}

.background {
  height: 718px;
  background: url(./images/mobile_menu_images/Header-background/Ellipse-3.png) 106% 26% no-repeat, url(./images/mobile_menu_images/Header-background/Rectangle-4.png) 100% 14% no-repeat, url(./images/mobile_menu_images/Header-background/Rectangle-7.png) 50% 17% no-repeat, url(./images/mobile_menu_images/Header-background/Ellipse-11.png) 6% 20% no-repeat, url(./images/mobile_menu_images/Header-background/Rectangle-6.png) 0% 15% no-repeat, url(./images/mobile_menu_images/Header-background/Ellipse-4.png) 55% 87% no-repeat, url(./images/mobile_menu_images/Header-background/Ellipse-12.png) 5% 85% no-repeat;
  background-color: #fff;
  border-bottom-left-radius: 60px;
}

/* menu-container */
.main-menu .menu-container {
  padding-left: 24px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 58px;
}

/* logo */
.logo-frame {
  text-decoration: none;
  color: #6070ff;
}

/* logo-style */
.main-menu .menu-container .logo-frame a {
  width: 76px;
  height: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
}

.background .main-menu .menu-container nav > a {
  padding-right: 10px;
  text-decoration: none;
  color: #344563;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.hamburger-icon {
  display: none;
  text-decoration: none;
  padding: 5px;
}

/* section paragraph layout */
.section-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* first heading in a section */
.section-text h1 {
  margin-top: 128px;
  padding: 0 24px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

/* section paragraph */
.section-text p {
  margin: 0;
  padding: 12px 24px;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

/* social media paragraph */
.section-text .connect {
  margin: 0;
  padding: 12px 24px;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

/* social media icons */
.social-media-icons {
  margin: 0;
  padding: 12px 24px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 20px;
}

/* social media lists */
.social-media-icons > li {
  list-style: none;
}

/* Works layout */
.works {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: minmax(327px, 100%);
  align-items: center;
  padding: 114px 24px;
  row-gap: 88px;
  background: #e5e5e5;
}

/* Card works 1 layout */
.works .card-works-1 {
  background-color: #fff;
  padding: 16px;
  border-radius: 16px;
}

/* Snapshoot portfolio 1 layout */
.works .card-works-1 .snapshoot-portofolio-1 {
  border-radius: 8px;
}

/* Primary section */
.primary-section {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 12px;
}

/* Project title */
.works .card-works-1 .block-1 .primary-section .project-title {
  margin: 0;
  height: 80px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

/* Grid container frame */
.works .card-works-1 .block-1 .primary-section .grid-content-frame {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0;
  height: 32px;
}

.works .card-works-1 .block-1 .primary-section .grid-content-frame .client {
  height: 16px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.works .card-works-1 .block-1 .primary-section .grid-content-frame .role {
  height: 16px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.works .card-works-1 .block-1 .primary-section .grid-content-frame .year-label {
  height: 16px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.works .card-works-1 .block-1 .secondary-section {
  margin: 0;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.works .card-works-1 .block-1 .language-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 8px;
  width: 203px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.works .card-works-1 .block-1 .language-tags > li {
  list-style: none;
}

/* HTML */
.works .card-works-1 .block-1 .language-tags .html {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 29px;
  height: 16px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.works .card-works-1 .block-1 .language-tags .css {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 21px;
  height: 16px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.works .card-works-1 .block-1 .language-tags .javaScript {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 65px;
  height: 16px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
}

.works .card-works-1 .block-1 .action-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 12px;
  margin-top: 10px;
  gap: 10px;
  width: 124px;
  height: 48px;
  position: initial;
  left: 0;
  top: calc(50% - 48px / 2);
  border: 1px solid #6070ff;
  border-radius: 8px;
}

/* About Section */
.about-myself {
  background-color: white;
  border-top-right-radius: 60px;
}

.about-myself h1 {
  margin-top: 114px;
  margin-bottom: 0;
}

.about-myself button {
  padding: 12px;
  margin-left: 24px;
  width: 162px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background: #fff;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.skill-list {
  margin: 24px;
  margin-bottom: 0;
  padding-bottom: 113.5px;
}

.frame-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 24px;
  padding-right: 30px;
  margin: 28px 0;
}

.skill-list-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

/*
.programming-languages {
  display: flex;
  flex-direction: column;
  height: 248.15px;
  border-radius: 8px;
}
*/

.programming-languages .lang {
  gap: 10px;
  margin-bottom: 12px;
  background: #f7f7f9;
}

.framework-layout,
.skill-list-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #dfe1e6;
  padding-left: 12px;
  padding-right: 30px;
}

/* Contact Section */
.contact-section {
  background-color: #6070ff;
  border-top-left-radius: 60px;
}

.contact-section .background-shapes {
  height: 779px;
  background: url(./images/Contact-form/Ellipse-12.png) 45% 10% no-repeat, url(./images/Contact-form/Rectangle-4.png) 100% 6% no-repeat, url(./images/Contact-form/Ellipse-3.png) 100% 10% no-repeat, url(./images/Contact-form/Rectangle-7.png) 83% 95% no-repeat, url(./images/Contact-form/Ellipse-5.png) 74% 96% no-repeat;
}

.contact-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.contact-section .background-shapes .contact-list h1 {
  color: white;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-top: 103px;
  margin-bottom: 0;
}

/* stylelint-disable-next-line no-descending-specificity */
.contact-section .background-shapes .contact-list p {
  text-align: center;
  padding: 0 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-top: 10px;
  color: #ebebff;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 24px;
}

form input {
  font-size: 17px;
  line-height: 20px;
  height: 48px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

form textarea {
  font-size: 15px;
  line-height: 24px;
  height: 170px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

form button:enabled {
  width: 140px;
  height: 48px;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  background: #fff;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 5px;
}

form button:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
}

form button:active {
  background: #2230d2;
  border-radius: 8px;
}

form button:disabled {
  background: #2230d2;
  border-radius: 8px;
}

hr {
  height: 5px;
  background: #0d151e;
  border: 1px solid #0d151e;
  border-radius: 10px;
  width: 134px;
  margin-top: 0;
  margin-bottom: 10px;
}

/* This is for the nav tag */
@media (max-width: 768px) {
  .hamburger-icon {
    display: inline;
    color: #6070ff;
  }

  .nav-items {
    display: none;
    position: absolute;
  }
}

body {
  animation: mymove 5s infinite;
}

@keyframes mymove {
  from {
    background-color: white;
    color: white;
  }
  to {
    background-color: blue;
    color: red;
  }
}

.background, .card-works-1 {
  animation: color 5s infinite;
}

@keyframes color {
  from {
    background-color: white;
    color: black;
  }
  to {
    background-color: #2230d2;
    color: white;
  }
}

@media screen and (min-width: 750px) {
  .background {
    padding: 0 142px;
  }

  .card-works-1 {
    width: 90%;
    display: flex;
    height: 496px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .snapshoot-portofolio-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 544px;
  }

  .block-1 {
    padding-top: 48px;
    padding-left: 46px;
  }

  .row-reverse {
    display: flex;
    flex-direction: row-reverse;
  }

  .about-myself {
    display: flex;
    padding-bottom: 134px;
  }

  .text-icons-wrapper {
    padding-left: 142px;
  }

  .programming-languages {
    display: flex;
    padding: 0;
  }

  .lang {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 122px;
    height: 120px;
    margin-left: 12px;
  }

  .skill-list {
    width: 684px;
    height: 360px;
    padding-right: 42px;
  }

  .contact-section {
    padding: 0 280px;
  }

  .contact-section button {
    margin: 0 auto;
  }
}
