/* header-background-mobile */
.my-header {
  position: absolute;
  width: 375px;
  height: 92px;
  left: 0;
  top: 0;
}

/* container */
.container {
  position: absolute;
  width: 375px;
  height: 718px;
  left: 0;
  top: 0;
  background: #fff;
}

/* time-frame */
.my-header .time {
  position: absolute;
  width: 54px;
  height: 21px;
  left: 21px;
  top: 13px;
}

/* status bar */
.my-header .status-bar {
  position: absolute;
  width: 66.66px;
  height: 11.34px;
  left: 293.67px;
  top: 17.33px;
}

/* navigation-menu layout */
.main-menu {
  position: absolute;
  width: 375px;
  height: 92px;
  left: 0;
  top: 0;
}

/* menu-container */
.main-menu .menu-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 44px;
  bottom: 0;
}

/* logo */
.main-menu .menu-container .logo-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  position: absolute;
  width: 100px;
  height: 40px;
  left: 12px;
  top: calc(50% - 40px / 2);
}

/* logo-style */
.main-menu .menu-container .logo-frame p {
  width: 76px;
  height: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* normal button tertiary enabled */
.main-menu .menu-container img {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 24px;
  top: calc(50% - 40px / 2);
  border-radius: 8px;
}

/* background section */
.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
  gap: 12px;
  position: relative;
  width: 375px;
  height: 604px;
  top: 92px;
  background-image: url(mobile_menu_images/header-shapes-mobile.jpg);
  background-repeat: no-repeat;
}

/* first header layout in a section */
.headline .first-text {
  width: 327px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* first heading in a section */
.headline .first-text h1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* section paragraph */
.headline .second-text {
  width: 327px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.headline .second-text h1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* social media header */
.headline .social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* social media icons */
.headline .social-media-icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 170.17px;
  height: 20px;
  flex: none;
  order: 3;
  flex-grow: 0;
}
